<nav class="clearfix">
  <div class="container">
    <div class="col mobile-navigation">
      <a href="#" class="mobile-toggle">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </a>
      <ul class="navigation">
        <li class="navigation-item">
          <a href="/" class="navigation-link">
            Home
          </a>
        </li>
        {% for nav in site.data.navigation %}
          {% if nav.children != null %}
            <li class="navigation-item">
              <a href="{{ nav.href }}" class="navigation-link">
                {{ nav.title }}
              </a>
              <span class="navigation-mobile-chevron"></span>
              <ul class="navigation-submenu">
                {% for child in nav.children %}
                  <li class="navigation-submenu-item">
                    <a class="navigation-submenu-link" href="{{ child.childhref }}">
                      {{ child.childtitle }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% else %}
            <li class="navigation-item">
              <a href="{{ nav.href }}" class="navigation-link">
                {{ nav.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>


<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Navbar</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
