/* Footer */
footer {
  background-color: #333;
  padding: 30px 0px 30px 0px;
  color: #888;
  a {
    color: #888;
  }
}

.footer-copyright {
  float: left;
}
.footer-facebook {
  float: right;
  font-size: 24px;
}
.footer-twitter {
  float: right;
  font-size: 24px;
  margin-right: 15px;
}

.footer-sitemap {
  float: right;
}
.footer-author {
  float: right;
}
.footer-divider {
  &:after {
    content:"-";
    color: #fff;
  }
}