/* Header */
.topbar {
  @include rem(padding, 4px 0px 4px 0px);
  background-color: #eee;
  h1 {
    display: inline;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #777;
  }
}
.phone,
.email {
  float: right;
  color: #777;
}
.email {
  margin-right: 30px;
  i {
    font-size: 18px;
    position: relative;
    margin-right: 2px;
  }
}
.phone {
  i {
    position: relative;
    font-size: 18px;
    top: 1px;
  }
}