/* Home Page */

.home-page-intro-container {
  background-color: #fff;
}

.home-intro {
  display: block;
  @include rem(padding, 40px 0 40px 0);
  @include media-breakpoint-down(sm) {
    padding-bottom: 0;
    .btn-success {
      width: 100%;
    }
  }
}

.home-carousel {
  @include rem(margin, 40px 0 40px 0);
  border: 1px solid #bbb;
  box-shadow: rgba(0,0,0,0.0980392) 0 1px 4px;
  img {
    height:100%;
    width:100%;
  }
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.home-page-cards-background {
  background-color: #ccc;
  @include rem(padding, 40px 0 40px 0);
  @include media-breakpoint-down(xs) {
    background-color: #fff;
  }
}

.home-card {
  background-color: #fff;
  float: left;
  width: 100%;
  border: 1px solid #bbb;
  box-shadow: rgba(0,0,0,0.0980392) 0 1px 4px;
  @include media-breakpoint-down(xs) {
    box-shadow: none;
    border: 0px;
  }
  img {
    &:hover {
      opacity: 0.9;
    }
  }
  @include media-breakpoint-down(md) {
    @include rem(margin-bottom, 40px);
    img {
      float: left;
      width: 50%;
    }
  }
  @include media-breakpoint-down(sm) {
    @include rem(padding, 0);
    img {
      float: left;
      width: 100%;
      @include rem(margin-bottom, 15px);
    }
  }
  .home-card-content {
    float: left;
    width: 100%;
    @include rem(padding, 30px);
    @include media-breakpoint-down(md) {
      width: 50%;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
      padding: 0;
    }
  }
}
