/* Desktop */
nav {
  background-color: #ddd;
}
.navigation {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  @include media-breakpoint-down(sm) {
    clear: both;
    display: none;
  }
}
.navigation-item {
  position: relative;
  float: left;
  &:first-child {
    .navigation-link {
      padding-left: 0;
    }
  }
  @include media-breakpoint-down(sm) {
    float: none;
    &:first-child {
      .navigation-link {
        border-top: 1px solid #ccc;
        padding-left: 15px;
      }
    }
    &:last-child {
      .navigation-link {
        border-bottom: 0;
      }
    }
  }
}
.navigation-link {
  display: block;
  padding: 12px 15px 12px 15px;
  &:hover {
    text-decoration: none;
  }
  @include media-breakpoint-down(sm) {
    border-bottom:1px solid #ccc;
    padding: 10px 15px 10px 15px;
  }
}
.navigation-desktop-chevron {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}


/* Desktop Hover */
@include media-breakpoint-up(md) {
  .navigation-item:hover {
    .navigation-submenu {
      display: block;
    }
  }
}


/* Hamburger Button */
.mobile-toggle {
  padding: 10px 10px 8px 10px;
  color: #000;
  font-size: 14px;
  display: none;
  float: right;
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.navigation.open {
  display: block;
}


/* Submenu */
.navigation-submenu {
  display: none;
  position: absolute;
  z-index: 99;
  background-color: #ddd;
  list-style: none;
  padding: 0;
  width: 200px;
  @include media-breakpoint-down(sm) {
    width: 100%;
    position: relative;
  }
}
.navigation-submenu.open {
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.navigation-submenu-link {
  display: block;
  padding: 10px 15px 10px 15px;
  &:hover {
    text-decoration: none;
  }
  @include media-breakpoint-down(sm) {
    border-bottom:1px solid #ccc;
    padding: 10px 15px 10px 30px;
  }
}


/* Submenu's Submenu */
.navigation-submenu-submenu {
  display: none;
  list-style: none;
  padding: 0;
}
.navigation-submenu-submenu.open {
  display: block;
  @include media-breakpoint-up(md) {
    display: none;
  }
}
.navigation-submenu-submenu-link {
  display: block;
  padding: 10px 15px 10px 15px;
  &:hover {
    text-decoration: none;
  }
  @include media-breakpoint-down(sm) {
    border-bottom:1px solid #ccc;
    padding: 10px 15px 10px 60px;
  }
}


/* Mobile Chevron */
.navigation-mobile-chevron {
  display: none;
  position: absolute;
  z-index: 99;
  right: 0;
  top: 0;
  padding: 10px 15px 10px 15px;
  background-color: #aaa;
  cursor: pointer;
  &:after {
    font-family: FontAwesome;
    content:'\f078';
    font-size: 14px;
  }
  @include media-breakpoint-down(sm) {
    display: block;
  }
}
.navigation-mobile-chevron.open {
  &:after {
    font-family: FontAwesome;
    content:'\f077';
  }
}


@include media-breakpoint-down(sm) {
  .mobile-navigation {
    padding-left: 0;
    padding-right: 0;
    width:100% !important;
  }
}